:root {
    --primary-color: #3A6D8C;
    --secondary-color: #6A9AB0;
    --background-color: #001F3F;
    --font-color: #EAD8B1;
    --hover-color: #2980b9;
    --font-main: "Lucida Console", Monaco, monospace;
    --padding: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    color: var(--secondary-color);
}

.logo a {
    text-decoration: none;
    color: var(--font-color);
    padding: 5px 10px;
    border-radius: 8px;
}

.nav-link {
    display: flex;
    gap: 10px;
}

.nav-link a {
    text-decoration: none;
    color: var(--font-color);
    padding: 5px 10px;
    border-radius: 8px;
}

.nav-link a:hover {
    background-color: var(--hover-color); /* Change background on hover */
}

main {
    background-color: var(--secondary-color);
    padding: 30px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
    font-family: var(--font-main);
    background-color: var(--background-color);
    color: var(--font-color);
    line-height: 1.6;
    padding: 30px;
}   

@media (max-width: 768px) {
 
}

/* footer */
footer {
    background: var(--primary-color);
    color: var(--font-color);
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    border-radius: 8px;
}
