<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matthew Dwyer - Portfolio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '\core\styles.css' %}">
</head>
<body>
    <nav>
        <div class="nav-container">
            <h1 class="logo"><a href="{% url 'home' %}">Matthew Dwyer</a></h1>
            <div class="nav-link">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'education' %}">Education</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        </div>
    </nav>
    <main>
        <div class="contact">
            <h2>Contact Me:</h2>
            <div class="contact-container">
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Send</button>
                </form>
            </div>
            <div class="contact-links">
                <p>Email: <a href="mailto:dwyermatthew760@gmail.com">dwyermatthew760@gmail.com</a></p>
                <p>Phone: <a href="tel:07446170043">07446 170043</a></p>
                <p>LinkedIn: <a href="https://linkedin.com/in/matthew-dwyer14/" target="_blank">linkedin.com/in/matthew-dwyer14/</a></p>
                <p>GitHub: <a href="https://github.com/MattDwyer14" target="_blank">https://github.com/MattDwyer14</a></p>
            </div>
        </div>
    </main>
<footer>
    <div class="container">
        <p>&copy; <span id="year"></span> Matthew Dwyer</p>
    </div>
</footer>
<script>
    document.getElementById("year").textContent = new Date().getFullYear();
</script>
</body>
</html>