<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matthew Dwyer - Portfolio</title>
</head>
<body>
    <nav>
        <div class="nav-container">
            <h1 class="logo"><a href="{% url 'home' %}">Matthew Dwyer</a></h1>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'education' %}">Education</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>            
        </div>
    </nav>
    <main>
        <section id="education">
            <div class="education-container">
                <div class="text">
                    <h1>Education</h1>
                    <h3>MSci in Mathematical Physics</h3>
                    <p>
                        <strong>University of Nottingham</strong> 
                        (2019-2023)
                    </p>  
                    <p><strong>Modules Included:</strong> Programming, Linear Mathematics, Vector Calculus, Modelling with Differential Equations, Fourier Analysis, Atmospheric Physics, Relativity, Quantum Field Theory, and Advanced Gravity.</p>
                    <p><strong>Master's Thesis:</strong> "Bigravity Braneworlds"</p>
                    <p>The Randall-Sundrum 1 braneworld scenario is a model proposed in 1999 that models our universe as a surface embedded within a higher dimensional space known as the bulk. The model provides a solution to the hierarchy problem, a long-standing question in physics that asks, why is the force of gravity so weak when compared to the other fundamental forces? In our paper, we propose a variation of the RS1 model with a "bimetric" gravity framework. This is a model of a universe that has two "gravitons", one massive and one massless, mediating the force of gravity that also has potential implications for the cosmological constant problem.</p>
                </div>
            </div>
        </section>
    </main>
<footer>
    <div class="container">
        <p>&copy; <span id="year"></span> Matthew Dwyer</p>
    </div>
</footer>
<script>
    document.getElementById("year").textContent = new Date().getFullYear();
</script>
</body>
</html>