<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matthew Dwyer - Portfolio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '\core\styles.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '\core\images\favicon_io\apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '\core\images\favicon_io\favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '\core\images\favicon_io\favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '\core\images\favicon_io\site.webmanifest' %}">
</head>
<body>
    <nav>
        <div class="nav-container">
            <h1 class="logo"><a href="{% url 'home' %}">Matthew Dwyer</a></h1>
            <div class="nav-link">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'projects:list' %}">Projects</a>
                <a href="{% url 'education' %}">Education</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        </div>
    </nav>
    <main>
        <div class="home-content">
            <div class="home-image">
                <img src="{% static '\core\images\profile photo.jpg' %}" alt="Me!">
            </div>
            <div class="home-text-container">
                <h2>About Me</h2>
                {% for text in content %}
                    <article>
                        {% if text.title %}
                            <h2>{{ text.title }}</h2>
                        {% endif %}
                        <p>{{ text.body|linebreaks }}</p>
                    </article>
                {% endfor %}
            </div>
        </div>
    </main>
<footer>
    <div class="container">
        <p>&copy; <span id="year"></span> Matthew Dwyer</p>
    </div>
</footer>
<script>
    document.getElementById("year").textContent = new Date().getFullYear();
</script>
</body>
</html>