:root {
    --primary-color: #3A6D8C;
    --secondary-color: #6A9AB0;
    --background-color: #001F3F;
    --font-color: #EAD8B1;
    --hover-color: #2980b9;
    --font-main: "Lucida Console", Monaco, monospace;
    --padding: 10px;
    --main-heading: 23px;
    --nav-link-size: 23px;
    --page-heading: 23px;
    --sub-heading: 20px;
    --paragraph: 19px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: var(--main-heading);
}

h2 {
    font-size: var(--page-heading);
}

h3 {
    font-size: var(--sub-heading);
}

p {
    font-size: var(--paragraph);
}

li {
    font-size: var(--paragraph);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Hamburger icon styling */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
}

.logo {
    color: var(--secondary-color);
}

.logo a {
    text-decoration: none;
    color: var(--font-color);
    padding: 5px 10px;
    border-radius: 8px;
    font-size: var(--main-heading);
}

.nav-link {
    display: flex;
    gap: 10px;
}

.nav-link a {
    text-decoration: none;
    color: var(--font-color);
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 19px !important;
}

.nav-link a:hover {
    background-color: var(--hover-color);
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

main {
    background-color: var(--secondary-color);
    padding: 30px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
    font-family: var(--font-main);
    background-color: var(--background-color);
    color: var(--font-color);
    line-height: 1.6;
    padding: 30px;
}   

/* home content */

.home-content {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.home-image {
    flex: 1;
    max-width: 300px;
    width: 100%;
}

.home-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-text-container {
    flex: 3;
    background-color: var(--primary-color);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
}

/*education section*/

.education-container {
    display: flex;
    flex-direction: column;
}

.education-content {
    display: flex;
    align-items: flex-start;
    margin-top: 5px;
}

.education-image {
    width: 30%;
    margin-right: 20px;
    flex-shrink: 0;
}

.text-content {
    max-width: 70%;
    background-color: var(--primary-color);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*contacts section*/

.contact-links {
    margin-top: 50px;
}

/* contacts form */

.contact-container {
    margin-top: 10px;
}

form {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: var(--font-main);
    font-size: var(--paragraph);
    background-color: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 5px solid #ccc;
    border-radius: 5px;
    font-family: var(--font-main);
    font-size: var(--paragraph);
    box-sizing: border-box;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: var(--hover-color); 
    box-shadow: 0 0 5px rgba(41, 128, 185, 0.5);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: var(--main-heading);
}

button {
    background-color: var(--secondary-color);
    border: none;
    padding: 5px 20px;
    margin-top: 5px;
    border-radius: 5px;
    color: var(--font-color);
    font-size: var(--main-heading);
    cursor: pointer;
    transform: scale(1.05);
    transition: background-color 0.2s ease, transform 0.2s ease;
}

button:hover {
    background-color: var(--hover-color); 
}
/* footer */
footer {
    background: var(--primary-color);
    color: var(--font-color);
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    border-radius: 8px;
}

/* Media query for mobile */
@media (max-width: 768px) {
    .nav-link {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 50px;
        z-index:100;
        background: var(--background-color);
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 1rem;
    }

    .hamburger {
        display: flex;
    }

    .nav-link.show {
        display: flex;
    }
    .home-content {
        flex-direction: column;
        align-items: center;
    }

    .home-image {
        max-width: 300px;
    }

    .home-text-container {
        width: 100%;
    }

    .education-content {
        flex-direction: column;
        align-items: center;
    }

    .education-image {
        width: 50%;
        margin: 0 0 20px 0;
    }

    .text-content {
        width: 100%;
        max-width: none;
        padding: 10px;
    }

    form {
        width: 100%;
    }

    main {
        padding: 20px;
        margin-top: 20px;
        border-radius: 8px;
    }
    
    body {
        
        padding: 20px;
    }   
}
