{% extends 'projects/base.html' %}

{% block content %}
<div class="project-detail">
    <a href="{% url 'projects:list' %}">Projects</a>
    <h2>{{ project.title }}</h2>
    {% if project.image %}
        <img src="{{ project.image.url }}" alt="{{ project.title }}">
    {% endif %}
    <p>{{ project.description }}</p>
    <p><strong>Technologies Used:</strong> {{ project.technology_list }}</p>
    {% if project.file %}
        <a href="{{ project.file.url }}" target="_blank">Download file</a>
    {% endif %}
    {% if project.link %}
        <a href="{{ project.link }}" target="_blank">View code</a>
    {% endif %}
</div>
{% endblock %}
