<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'projects/project_styles.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'shared/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'shared/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'shared/favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'shared/favicon_io/site.webmanifest' %}">

</head>
<body>
    <nav>
        <div class="nav-container">
            <h1 class="logo"><a href="{% url 'home' %}">Matthew Dwyer</a></h1>
            <div class="hamburger" onclick="toggleNav()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="nav-link" id="navLinks">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'projects:list' %}">Projects</a>
                <a href="{% url 'education' %}">Education</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        </div>
    </nav>
    <main>
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; <span id="year"></span> Matthew Dwyer</p>
        </div>
    </footer>
    <script>
        document.getElementById("year").textContent = new Date().getFullYear();
        function toggleNav() {
            const navLinks = document.getElementById('navLinks');
            navLinks.classList.toggle('show');
        }
    </script>
</body>
</html>
